@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
body{
    color:#262a30;
	background: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 27px;
    padding-top: 20px;
}
*{
    text-decoration: none;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 7px auto;
   -webkit-animation-name: spin;
    -webkit-animation-duration: 100ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 100ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 100ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
img:hover{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 700ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 700ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
a{
    color: #3ca2d9;
}
.btn{
     font-size: 13px;
    font-weight: bold;
    line-height: 100%;
    color: #FFF;
    background: #5dc390;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    padding: 15px 27px 13px;
    text-transform: uppercase;
}
.container{
	margin: 0 auto;
    max-width: 424px;
    padding-top: 38px;
}
hr{
    border: none;
    border-bottom: 1px solid #e0e0e0;
	margin: 7px 0 14px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}